.SearchBar {
  padding-left: 15px;
  height: 100%;
  width: 35vw;
  stroke: #121212;
  background-color: white;
  border-radius: 8px;
  padding: 9px 20px;
}

.SearchButton {
  height: 100%;
  border-radius: 8px;
  padding: 9px 20px;
  stroke: #121212;
}

.container {
  display: flex;
  align-items: center;
}
